<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark #0288d1 light-blue darken-2 scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#">
            <strong>NeuroParse</strong>
        </a>
    </logo>
</mdb-navbar>
<!-- Main -->
<main>
    <div class="container" style="height:1300px;">
        <div class="row mt-5 pt-5">
            <div class="col text-center">

                <ul class="list-group">
                    <li class="list-group-item d-flex  align-items-center">
                        <span class="badge badge-primary badge-pill" style="margin-right:5px">1</span>
                        Get sales for product-1 for last six month.
                    </li>
                    <li class="list-group-item d-flex  align-items-center">
                        <span class="badge badge-primary badge-pill" style="margin-right:5px">2</span>
                        Calculate the cumulative total for each month.

                    </li>
                    <li class="list-group-item d-flex  align-items-center">
                        <span class="badge badge-primary badge-pill" style="margin-right:5px">3</span>
                        Show a line chart.
                    </li>
                </ul>

            </div>
        </div>

        <div class="row mt-1 pt-1">
            <div class="col text-center">
                <ul class="list-group">
                    <li class="list-group-item d-flex  align-items-center">
                        <!-- <div class="md-form"> -->
                            <input type="text" class="input-alternate" placeholder="Type here...">
                            <a class="btn-floating btn-sm blue-gradient waves-light" mdbRippleRadius><i class="fa fa-plus"></i></a>
                            <a class="btn-floating btn-sm blue-gradient waves-light" mdbRippleRadius><i class="fa fa-play-circle"></i></a>
                        <!-- </div> -->
                    </li>
                </ul>


            </div>
        </div>
    </div>
</main>
<!-- /.Main -->




<!-- Email the report to group-1. -->